@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

:root{
    --Treehouse: #3b2d20;
    --ElPaso: #201408;
    --TobaccoBrown: #6e553c;
    --LightBrown: #ba742f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crete Round';
}


